<header class=" navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
	
				<%= link_to "Blogger", root_path, id: "logo"%>
		<nav>
			<ul class="nav pull-right ">
				<li id="main-nav"><%= link_to "Home", root_path %></li>
				<li id="main-nav"><%= link_to "Blog", posts_path %></li>
				<li id="main-nav"><%= link_to "Contact", contact_path %></li>
				<li id="main-nav"><%= link_to "About us", about_path %></li>
				<li id="main-nav"><%= link_to "Account", account_path %></li>
			</ul>
		</nav>
	
</div>
</header>
